header {
  height: 20px;
  background-color: blueviolet;
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #0e1821;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
/* -----LEFT BAR SECTION----*/
#left_bar {
  display: inline-flex;

  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 17.7%;
  height: 100%;
  background-color: transparent;
}

#cards {
  width: 75%;
  background-color: aquamarine;
  margin: 1.5rem 1.5rem;
}

/* -----LEFT BAR SECTION----*/

/* -----GENERAL CONTENT SECTION----*/

#content {
  width: 100%;
  height: 488vh;
  background-color: #0e1821;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0%;
  margin: 0%;
  margin-left: 17.7%; /* This margin allow us to have the position fixed in the menu on th left*/
}
/* -----GENERAL CONTENT SECTION----*/

/* -----ABOUT ME SECTION----*/

#about_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 1.5rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
}
.large_spacers {
  background-color: #32afc9;
  display: flex;
  width: 38.4rem;
  height: 40rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-shrink: 0;
}

.skinny_spacers {
  background-color: #e59cda;
  display: flex;
  width: 27.5rem;
  height: 40rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.group_text {
  margin-left: 3.88rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3.88rem;
}

/* Define styles for the circular section */
.circular-section {
  width: 200px; /* Adjust the width and height to your preference */
  height: 200px;
  border-radius: 50%; /* Makes the section circular */
  overflow: hidden; /* Hides anything outside the circular area */
  position: relative; /* Allows positioning of the image inside */
}

/* Style the image within the circular section */
.circular-section img {
  width: auto;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

/* -----ABOUT ME SECTION----*/

/* -----INTERESTS SECTION----*/

#interests_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 3rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
}

/* CHANGE COLOR TO SKINNY SPACER CLASS*/
.override-color {
  background-color: #ffb600;
}

.flat_scpacers_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /*parent*/
}

.flat_spacer1 {
  background-color: #32afc9;
  display: flex;
  width: 38.2rem;
  height: 19rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.flat_spacer2 {
  background-color: #e59cda;
  display: flex;
  width: 38.2rem;
  height: 19rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* -----INTERESTS SECTION----*/

/*-----PORTFOLIO SECTION----*/

#portfolio_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 3rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
  height: auto;
}

#portfolioBottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 1.5rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
  height: auto;
}

.flat_large_spacer {
  background-color: #e59cda;
  border-radius: 3rem;
  width: 68rem;
  height: 20rem;
}
.self {
  align-self: flex-end;
}

.xl_spacer {
  background-color: #32afc9;
  border-radius: 3rem;
  width: 68rem;
  height: 29rem;
  margin-top: 3rem;
}

.override-color1 {
  background-color: #ffb600;
}

.footer_github {
  padding: 2rem;
}

a {
  color: aliceblue;
}

/*------TEST AREA-----*/

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300);

.menu {
  display: inline-flex;
  position: fixed;

  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 17.7%;
  height: 100%;
  background-color: #e59cda;
}

.cards {
  width: 75%;
  background-color: aquamarine;
  margin: 1.5rem 1.5rem;
}

nav {
  /*   position: fixed; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: #0e1821;
}

ul {
  padding-left: 0%;
}

li,
ul label.title,
ul,
a {
  /*GENERAL STYLE FOR THE MENU*/
  width: 100%;
  color: #fff;
  font-family: "Montserrat", "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
}

ul label {
  /*SIZE OF THE TITLE SECTION*/
  height: 35px;
}
ul li {
  /* HIDES THE OVERFLOW MENUS*/
  height: 35px;
  overflow: hidden;
  transition: all 0.3s;
  padding-left: 0%; /*this does not fix padding left side ul li*/
  text-indent: 0; /*thi does'nt fix it either*/
  margin-left: 0%; /*Nothing yet*/
  list-style-position: inside; /*Does not remove indentation*/
  list-style-type: none;
}

ul{
  padding: 0px !important;
}


li {
  display: block;
  background-color: #a34545;
  border-radius: 1rem; /*BORDER RADIUS FOR THE INNER MENU*/
  margin: 0.5rem;
}
label.title {
  border-radius: 1rem; /* BOrder radius for the title cards*/
  font-size: 14px;
  background-color: #459da3;
  /* padding: 10px 15px; */
  cursor: pointer;
  transition: all 0.25s;
}
a {
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  display: block;
  padding: 10px 25px;
  transition: all 0.25s;
}
a:hover {
  background-color: #444;
  box-shadow: inset 5px 0px 0px 0px #fff;
}
label:hover {
  text-shadow: 0px 0px 10px #fff;
}
input[type="radio"] {
  display: none;
}
#edit:checked + li,
#archive:checked + li,
#tools:checked + li,
#preferences:checked + li {
  height: 179px;
}
i {
  margin-right: 12px;
}
@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    position: relative;
  }
  main {
    width: 100%;
    position: relative;
  }
}
