header {
  height: 20px;
  background-color: blueviolet;
  padding: 0px;
  margin: 0px;
}

body {
  /*Variables*/
  --border-radius: 2rem;
  --dark-blue: #0e1821;

  background-color: #0e1821;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
}
/* -----LEFT BAR SECTION----*/
#left_bar {
  display: inline-flex;

  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 17.7%;
  height: 100%;
  background-color: transparent;
}

#cards {
  width: 75%;
  background-color: aquamarine;
  margin: 1.5rem 1.5rem;
}

/* -----LEFT BAR SECTION----*/

/* -----GENERAL CONTENT SECTION----*/

#content {
  width: 100%;
  height: 488vh;
  background-color: #0e1821;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0%;
  margin: 0%;
  margin-left: 17.7%; /* This margin allow us to have the position fixed in the menu on th left*/
}
/* -----GENERAL CONTENT SECTION----*/

/* -----ABOUT ME SECTION----*/

#about_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 1.5rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;

}

.about_section_override{
  padding-top: 40rem;
}



.large_spacers {
  background-color: #32afc9;
  display: flex;
  width: 38.4rem;
  height: 40rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  flex-shrink: 0;

  /*Test*/

  transition: width 0.3s ease, height 0.3s ease;
}

.large_spacers_override{

  width: 38.4rem;
  height: 20rem;
  

}

.skinny_spacers {
  background-color: #e59cda;
  display: flex;
  width: 27.5rem;
  height: 40rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* Define a CSS animation for continuous rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes float {
  0% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(20px);
  }
}

/* Apply the animation to the image */
/* .skinny_spacers img:hover {
  animation: spin 2s linear infinite; 
} */

/* Apply the animation to the image */
.skinny_spacers:hover img {
  animation: spin 2.5s linear infinite;
}

.group_text {
  margin-left: 3.88rem;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3.88rem;
}

/* Define styles for the circular section */
.circular-section {
  width: 200px; /* Adjust the width and height to your preference */
  height: 200px;
  border-radius: 50%; /* Makes the section circular */
  overflow: hidden; /* Hides anything outside the circular area */
  position: relative; /* Allows positioning of the image inside */
}

.minidescription {
  align-self: center;
}

/* Style the image within the circular section */
.circular-section img {
  width: auto;
  height: 100%;
  display: block;
  position: relative;
  top: 0;
  left: 0;
}

/* -----ABOUT ME SECTION----*/

/* -----INTERESTS SECTION----*/

#interests_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 3rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
}

/* CHANGE COLOR TO SKINNY SPACER CLASS*/
.override-color {
  background-color: #ffb600;
}

.flat_scpacers_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /*parent*/
}

.flat_spacer1 {
  background-color: #32afc9;
  display: flex;
  width: 38.2rem;
  height: 19rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.flat_spacer2 {
  background-color: #e59cda;
  display: flex;
  width: 38.2rem;
  height: 19rem;
  border-radius: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

/* -----INTERESTS SECTION----*/

/*-----PORTFOLIO SECTION----*/

#portfolio_section {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 3rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
  height: auto;
}

#portfolioBottom {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;

  margin-top: 1.5rem;
  padding-right: 0%;
  background-color: transparent;
  width: 96%;
  height: auto;
}

.flat_large_spacer {
  background-color: #e59cda;
  border-radius: 3rem;
  width: 68rem;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project4 {
  align-self: flex-end;
  justify-content: center;
  align-items: center;
}

.xl_spacer {
  background-color: #32afc9;
  border-radius: 3rem;
  width: 68rem;
  height: 29rem;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.override-color1 {
  background-color: #ffb600;
}

.footer_github {
  padding: 2rem;
}

a {
  color: aliceblue;
}

/*------TEST AREA-----*/
/* 
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css); */

.menu {
  display: inline-flex;
  position: fixed;

  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 17.7%;
  height: 100%;
  background-color: #0e1821;
}

.cards {
  width: 75%;
  background-color: transparent;
  margin: 1.5rem 1.5rem;
  height: 50rem; /* Inner height for the cards section */
}

nav {
  /*   position: fixed; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 20%;
  height: 100%;
  background-color: #0e1821;
}

ul {
  padding-left: 0%;
}

li,
/* ul label.title, */
ul {
  /*GENERAL STYLE FOR THE MENU*/
  width: 100%;
  color: #0e1821;
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: bold;
}

ul label {
  /*SIZE OF THE TITLE SECTION WHEN OPENED*/
  height: 2.5rem;
}
ul li {
  /* HIDES THE OVERFLOW MENUS*/
  height: 3rem; /* pill size fo the left menu*/
  overflow: hidden;
  transition: all 0.3s;
  padding-left: 0%; /*this does not fix padding left side ul li*/
  text-indent: 0; /*thi does'nt fix it either*/
  margin-left: 0%; /*Nothing yet*/
  list-style-position: inside; /*Does not remove indentation*/
  list-style-type: none;
  display: flex;
}

ul {
  padding: 0px !important; /*removes default indentation of the ul menu*/
}

.card_description {
  padding-top: 21.5rem;
  padding-left: 15px;
  padding-right: 15px;
}

li {
  display: block;
  background-color: #a34545;
  border-radius: 1rem; /*BORDER RADIUS FOR THE INNER MENU*/
  margin: 0.5rem;
}

.first_menu {
  margin-top: 0%; /*This makes de first section of the left menu align with the content spacers no the right*/
  background-color: #e59cda;
}
/*  HERE I CHANGE THE COLOR OF THE INDIVIDUAL MENUS ON THE LEFT*/
.section2 {
  background-color: #32afc9;
}

.section3 {
  background-color: #ffb600;
}

.section4 {
  background-color: #e59cda;
}

.section5 {
  background-color: #32afc9;
}
/*  HERE I CHANGE THE COLOR OF THE INDIVIDUAL MENUS ON THE LEFT*/

label.title {
  border-radius: 1rem; /* BOrder radius for the title cards*/
  background-color: #32afc9;
  padding: 15px 15px; /* Here I fix the centering of the text inside the pill*/
  cursor: pointer;
  transition: all 0.25s;
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600 !important; /* Bold weight for Montserrat */
  font-size: 2rem !important;
  color: #0e1821;
  margin-bottom: 0rem !important;
}
pre {
  height: 2rem;
  margin: 0% !important;
}

h3 {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600 !important; /* Medium weight for Montserrat */
  font-size: 16px !important;
  color: #0e1821 !important;
}
h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300 !important; /* Light weight for Montserrat */
  font-size: 14px !important;
  color: #0e1821;
}

#mini_card {
  background-color: #e59cda;
  height: 2rem;
  width: 7rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.github_link {
  padding-top: 15px;
}

a {
  color: #0e1821 !important;
  text-decoration: none !important;
}

#colorOverride1 {
  background-color: #e59cda;
}

#colorOverride3 {
  background-color: #ffb600;
}

label:hover {
  text-shadow: 0px 0px 10px #fff; /*Little text effect for the menu*/
}
input[type="radio"] {
  display: none;
}
#interests:checked + li,
#about:checked + li,
#portfolio:checked + li,
#approach:checked + li,
#contact:checked + li {
  height: 26rem; /* Size of the inner section of the popups in the left menu */
}
i {
  margin-right: 12px;
}

.portfolio_image2 {
  /* Set initial background image */
  background-image: none;
  /* Add transition property */
  transition: background-image 0.3s ease;
}

.portfolio_image1:hover {
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/cff287138547019.Y3JvcCwxMzgwLDEwODAsNTEsMA.png);
}

.portfolio_image2:hover {
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/cec4d6158573537.Y3JvcCwxMzgwLDEwODAsMCww.png);
  transition-delay: 2s;
}

.portfolio_image3:hover {
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/8a4686152685969.Y3JvcCw5NDgsNzQyLDIyNSww.jpg);
}
.portfolio_image4:hover {
  background-image: url(https://mir-s3-cdn-cf.behance.net/projects/404/ce04ed145227159.Y3JvcCwxMjMyLDk2NCwzNDQsMA.png);
}

@media screen and (max-width: 600px) {
  nav {
    width: 100%;
    position: relative;
  }
  main {
    width: 100%;
    position: relative;
  }
}
